@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body {
  background-color: #110F0A
}

.main {
  min-width: 1000px;
  max-width: 1300px;
}

.first {
  background-image: url(images/1.jpg) none ;
}
