@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body {
  background-color: #110F0A
}

.main {
  //min-width: 1000px;
  //max-width: 100%;
  margin: 0 auto;
}


.Navigation {
    width: 100%;
    height: 100px;
}

.Navigation nav {
  width: 100%;
  position: fixed;
}

.container3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav.nav-pills.nav-fill {
  background-color: #110F0A;
}

.nav.nav-pills.nav-fill a {
  color: #c8c8c8;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}

.nav-link1 {
  color: #c8c8c8;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  text-decoration: line;
  padding: 8px 16px;
}

.Container5 {
  margin: 0 auto;
}

.text {
  //width: 50%;
  //background-color: red;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #C8C8C8;
  //margin-left: 200px;
  line-height: 1.5;
  padding: 10px;
  margin-left: 10px;
}


.container {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
}

.modal-content {
  background-color: #110f0a;
}

.modal-body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #C8C8C8;
}

.modal-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-body input {
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #c8c8c8;
  width: 100%;
}

.modal-body a {
  text-decoration: none;
  color: #C8c8c8;
  font-size: 12px;
}

.modal-body a:hover {
  text-decoration: underline;
}
.btn-primary {
    color: #110f0a;
    background-color: #0fffa6;
    border-color: #0fffa6;
}

.pic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.pic img {
  width: 400px;
  height: 500px;
}

.accordion-item {
  background-color: black;
}

.accordion-button {

  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #C8C8C8;
}

#button2 {
  background-image:  url("../images/wasterland.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
}

#button3 {
  background-image:  url("../images/farharbor_logo1.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
}

#button4 {
  background-image:  url("../images/cont_logo1.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
}

#button5 {
  background-image:  url("../images/vaultec_logo1.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
}

#button6 {
  background-image:  url("../images/1.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
}

.accordion-item:first-of-type .accordion-button {
  background-image:  url("../images/automatron.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
}


.accordion-button.1 {

}

.text2 {
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight:  400;
  font-size: 15px;
  color: #C8C8C8;
  display: flex;
  justify-content: flex-start;
}

.text3 {
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight:  400;
  font-size: 15px;
  color: #C8C8C8;
  display: block;
}

.images {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.images img {
  width: 350px;
  height: 220px;
  margin-right: 10px;
}

.downloadbutton {
  background: none;
  border: 1px solid #c8c8c8;
  width: 120px;
  height: 50px;
  margin: 0 auto;
  font-family: 'Exo 2', sans-serif;
  font-weight:  400;
  font-size: 15px;
  color: #c8c8c8;
}

.fiveth {
  //width: 100%;
  height: 300px;
  //background-color: red;
}

.fiveth hr {
  color: #C8C8C8;
  size: 4px;
}

.container2 {
  //margin-left: 200px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.container2 a {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #C8C8C8;
  line-height: 1.5;
  text-decoration: none;
}

.container2 a:hover {
  text-decoration: underline;
}

.column {
  flex-direction: column;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 140px;
  color: #0FFFA6;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #C8C8C8;
}

h3 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #0FFFA6;
}

h4 {
  font-family: 'Exo 2', sans-serif;
  font-weight:  700;
  font-size: 15px;
  color: #C8C8C8;
}
h5 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #C8C8C8;
}

@media screen and (max-device-width: 600px) {
  .main {
    font-weight: 700;
  }

  .first {
    background-image: none;
    height: 400px;
  }

  .pic {
    display: none
  }

  .title {
    font-size: 30px;
    margin-top: 100px;
  }

  .second {
    margin-top: 0px;
  }

  .third {
    margin-top: 0px;
    background-image: none;
  }

  .fourth {
    margin-top: 0px;
  }

  .fiveth {
    margin-top: 0px;
  }

  .block {
    width: 100%;
    height: 450px;
  }

  .text2 {
    font-size: 20px;
    font-weight: 700;
  }

  .carousel.slide {
    height: 500px;
  }

  .carousel-text {
    font-size: 20px;
    font-weight: 700
  }

  .column a   {
    font-size: 20px;
    font-weight: 700;
  }

  .Fline {
    display: block;
    justify-content: space-around;
  }

  .Sline {
    display: block;
  }

  .videos {
    display: block;
  }

  .Navigation a {
    font-size: 20px;
  }


  .images {
    display: none;
  }

  h1 {
    font-size: 70px
  }
  h4 {
    font-size: 20px;
    font-weight: 700
  }
}

@media screen and (max-device-height: 600px) {
  .main {
    font-weight: 700;
  }

  .first {
    background-image: none;
    height: 400px;
  }

  .pic {
    display: none
  }

  .title {
    font-size: 30px;
    margin-top: 100px;
  }

  .second {
    margin-top: 0px;
  }

  .third {
    margin-top: 0px;
    background-image: none;
  }

  .fourth {
    margin-top: 0px;
  }

  .fiveth {
    margin-top: 0px;
  }

  .block {
    width: 100%;
    height: 450px;
  }

  .text2 {
    font-size: 20px;
    font-weight: 700;
  }

  .carousel.slide {
    height: 500px;
  }

  .carousel-text {
    font-size: 20px;
    font-weight: 700
  }

  .column a   {
    font-size: 20px;
    font-weight: 700;
  }

  .Fline {
    display: block;
    justify-content: space-around;
  }

  .Sline {
    display: block;
  }

  .videos {
    display: block;
  }

  .Navigation a {
    font-size: 20px;
  }

  .container2 {
    display: block;
    margin: 0 auto;

  }
  .column a {
    font-size: 25px;
    line-height: 1.2
  }

  .column img {
    display: none;
  }

  .images {
    display: none;
  }

  h1 {
    font-size: 70px
  }
  h4 {
    font-size: 20px;
    font-weight: 700
  }
}
